---
import { getRelativeLocaleUrl } from 'astro:i18n';

// defaultLocale is "en"
const aboutURL = getRelativeLocaleUrl("en", "about");
---

<a href="/get-started/">Hello</a>
<a href={getRelativeLocaleUrl('es', 'blog')}>Blog</a>
<a href={aboutURL}>About</a>